Options +FollowSymLinks
RewriteEngine On

# Allow access to all files
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule> 